<nav class="navbar navbar-light" style="background-color: #e3f2fd">
  <a class="navbar-brand" href="#">
    <img
      src="/assets/logo.png"
      width="60"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    SmartBlocksCEP
  </a>
  <form class="form-inline">
    <div class="form-group mr-2">
      <label for="exampleFormControlSelect1" class="mr-2">Precision Lvl</label>
      <select
        class="form-control"
        id="exampleFormControlSelect1"
        [(ngModel)]="precision"
        [ngModelOptions]="{ standalone: true }"
      >
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
    <button
      class="btn btn-warning my-2 my-sm-0"
      type="submit"
      (click)="expFile()"
    >
      Save Contract
    </button>
  </form>
</nav>
<div class="container pt-2">
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Siddhi Query</label>
      <!--       <input
        name="query"
        type="text"
        class="form-control"
        id="query"
        placeholder="Siddhi Query"
        [(ngModel)]="query"
      /> -->
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="5"
        placeholder="Siddhi Query"
        [(ngModel)]="query"
        name="query"
      ></textarea>
    </div>
    <button (click)="submit()" class="btn btn-success mb-2">Generate</button>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Generated Smart Contract</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="40"
        [(ngModel)]="result"
        name="result"
      ></textarea>
    </div>
  </form>
</div>
